.Box {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(127.99deg, #b8ff80 9.62%, #4cc9fe 98.61%);
  border: 1.5px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  display: block;
  margin: 40px auto;
  margin-bottom: 10px;
  padding: 50px 0px;
  max-width: 600px;
  box-shadow: 7px 7px 30px rgb(0, 0, 0, 0.13);
}

.sourceLine {
  color: #b8ff80;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 20px;
}

.codeLink {
  color: #b8ff80;
  margin-top: 0;
}

.codeLink:hover {
  color: #72ee59;
}

@media (max-width:580px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    position: relative;
  }
  .Box {
    margin-top: 0;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 100vh;
    padding-bottom: 70px;
  }
  .sourceLine {
    position:absolute;
    margin-bottom: 10px;
    bottom:0;
    right:50%;
    transform: translateX(50%);
    width: max-content;
  }
}