.forecastSection {
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 40px;
}

.eachDay {
  margin-bottom: 5px;
}

.day {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.88px;
  color: #72ee59;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.forecastTemp {
  font-size: 13px;
}

.maxTemp {
  font-weight: 900;
}

@media (max-width: 550px) {
  .forecastSection {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 435px) {
  .forecastSection {
    margin-left: 50px;
    margin-right: 50px;
  }

  .eachDay {
    margin: 10px;
  }
}

@media (max-width: 380px) {
  .forecastSection {
    margin-left: 20px;
    margin-right: 20px;
  }
}
