.SearchEngine {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-right: 5px;
}

.cityInput {
  margin-right: 10px;
  max-width: 100%;
  color: black;
  font-size: 16px;
  background: white;
  border: 1.5px solid black;
  border-radius: 8px;
  padding: 7px 3.5px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.13);
  font-weight: 500;
}

.searchButton {
  font-size: 16px;
  color: black;
  background: white;
  border: 1.5px solid black;
  border-radius: 8px;
  padding: 7px 8px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.13);
  font-weight: 500;
}

.loading {
  font-size: 40px;
  line-height: 41px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 60px;
  letter-spacing: 2px;
  color: #2bbefd;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
}
