form {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 78%;
}

.cityInput {
  margin-right: 10px;
  color: black;
  font-size: 16px;
  background: white;
  border: 1.5px solid black;
  border-radius: 8px;
  padding: 7px 10px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.13);
  font-weight: 500;
  flex: 1;
  max-width: 100%;
  -webkit-appearance: none;
}


.searchButton {
  font-size: 16px;
  color: black;
  background: white;
  border: 1.5px solid black;
  border-radius: 8px;
  padding: 7px 8px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.13);
  font-weight: 500;
}

.searchButton:hover {
  background: #eae8e8;
}

.loading {
 width: fit-content;
 margin: 60px auto;
}



@media (max-width: 350px) {
  .SearchEngine {
    margin: 0 40px;
  }
}
