.weatherSection {
  display: flex;
  margin: 0 auto;
  max-width: 73%;
  flex-wrap: wrap;
}

.leftSide {
  flex: 62%;
  text-align: start;
  margin-top: 45px;
}

.rightSide {
  flex: 38%;
  text-align: center;
  margin-top: 55px;
  position: relative;
  right: -6px;
}

.cityTitle h1 {
  font-size: 29px;
  line-height: 41px;
  font-weight: bold;
  text-transform: uppercase;

  letter-spacing: 2px;
  color: #2bbefd;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.noteDate {
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0.8px;
  color: black;
  margin-bottom: 5px;
}

.Date {
  line-height: 23px;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #72ee59;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.currentCelsiusTemp {
  font-weight: 500;
  font-size: 55px;
  line-height: 70px;
  letter-spacing: 0.88px;
  color: #000000;
}
.currentfahrenheitTemp {
  font-weight: 500;
  font-size: 55px;
  line-height: 71px;
  letter-spacing: 0.88px;
  color: #000000;
}

.celsiusAndFahrenheit {
  font-weight: 200;
  font-size: 40px;
  letter-spacing: 0.88px;
  color: #000000;
}

.celsiusLink,
.fahrenheitLink {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #2bbefd;
}

.notesSection {
  margin-top: 7px;
}

.description {
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 1px;
}

.humidityAndWind {
  margin-top: 4px;
  margin-right: 6px;
  font-size: 11px;
  font-weight: 500;
}

@media (max-width: 580px) {
  .weatherSection {
    display: block;
  }
  .rightSide {
    margin-top: 15px;
  }
  .leftSide {
    text-align: center;
  }
}
